<div class="top-card">
  <span class="card-title">{{ cardTitle }}</span>
  <button mat-icon-button color="white" (click)="resetScore()">
    <mat-icon>restart_alt</mat-icon>
  </button>
</div>
<div class="body-card">
  <div class="card-minus card-ope" (click)="decrement()">
    <span class="card-ope-symbol">-</span>
  </div>
  <span [id]="cardTitle + '-count'" class="card-count" (click)="openDialog()">{{
    count
  }}</span>
  <div class="card-plus card-ope" (click)="increment()">
    <span class="card-ope-symbol">+</span>
  </div>
</div>
