<div class="app-container">
  <div class="app-header">
    <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
      <mat-icon>add_box</mat-icon>
    </button>
    <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
  <div class="app-body">
    <app-count-card color="#fa5246"></app-count-card>
    <app-count-card color="#00473e" title="Opponent"></app-count-card>
  </div>
  <div class="app-footer">
    <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
      <mat-icon>dataset</mat-icon>
    </button>
  </div>
</div>