.app-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.app-header {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    background-color: #ff8906;

    button {
        margin: 5px;
    }
}

.app-body {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #f25f4c;
}

.app-footer {
    width: 100%;
    display: flex;
    background-color: #ff8906;

    button {
        margin: 5px;
    }
}