<div class="app-container">
  <div class="app-header">
    <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
      <mat-icon>add_box</mat-icon>
    </button>
    <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
  <div class="app-body">
    <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
  <div class="app-footer">
    <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
      <mat-icon>dataset</mat-icon>
    </button>
  </div>
</div>