@import "../styles";

.app-container {
    height: 100%;
    height: calc(var(--vh, 1vh) * 95);
    background-color: $main-blue;
    position: relative;
}

app-cards-main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}