<div class="help-container">
    <div class="help-entry">
        <button mat-icon-button color="primary">
            <mat-icon>restart_alt</mat-icon>A
        </button>
        <span class="help-descr">Reset all scores to 0</span>
    </div>
    <div class="help-entry">
        <button mat-icon-button color="primary">
            <mat-icon>exposure_plus_1</mat-icon>
        </button>
        <span class="help-descr">Change score mode to preselected choices</span>
    </div>
    <div class="help-entry">
        <button mat-icon-button color="primary">
            <mat-icon>edit</mat-icon>
        </button>
        <span class="help-descr">Change score mode to input</span>
    </div>
    <div class="help-entry">
        <button mat-icon-button color="primary">
            <mat-icon>undo</mat-icon>
        </button>
        <span class="help-descr">Undo last score change</span>
    </div>
    <div class="help-entry">
        <button mat-icon-button color="primary">
            <mat-icon>restart_alt</mat-icon>
        </button>
        <span class="help-descr">Reset card's score to 0</span>
    </div>
</div>