@import "../../../styles.scss";

::ng-deep .mat-form-field-flex{
   padding: 0 .75em !important;
}

.dialog-actions {
   display: flex;
   justify-content: center;
}

.dialog-content {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.choices {
   display: grid;
   grid-template-columns: repeat(3, 1fr);

   .choice-button {
      margin: 0.5em 0.2em;
      background-color: $main-white;
      color: black;
   }

}

.form-field {
   margin-top: 1em;
   width: 100%;

   .score-field {
      width: 100%;
   }
}
