@import "../../../styles.scss";

::ng-deep .mat-form-field-flex{
   padding: 0 .75em !important;
}

.dialog-actions {
   display: flex;
   justify-content: center;
}

.dialog-content {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.choices {
   display: grid;
   grid-template-columns: repeat(3, 1fr);

   .choice-button {
      margin: 0.5em 0.5em;
      min-width: 3em;
      min-height: 3em;
      width: 3em;
      height: 3em;

      border: solid 2px $main-red;
      border-radius: 5px;
      background-color: $main-blue;
      color: $main-white;
      font-size: 14px;
      font-weight: 500;
      font-family: Roboto, 'Helvetica Neue', sans-serif;
   }

}

.form-field {
   margin-top: 1em;
   width: 100%;

   .score-field {
      width: 100%;
   }
}
