/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
 }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// https://coolors.co/palette/2b2d42-8d99ae-edf2f4-ef233c-d90429
$main-blue: #2B2D42;
$light-blue: #8D99AE;
$main-white: #EDF2F4;
$light-red: #EF233C;
$main-red: #D90429;
